<div ng-include="'components/navbar/navbar.html'"></div>

<md-card>
  <md-card-content layout="column">
    <div layout="row" flex>
      <div flex></div>
      <md-button ng-if="hasRole('user')" class="md-raised md-primary" ng-click="addItem($event)">Nouveau utilisateur</md-button>
    </div>
    <div class="main-table">
      <md-table-container>
        <table md-table md-progress="promise">
          <thead md-head md-order="query.order" md-on-reorder="onReorder">
            <tr md-row>
              <th md-column></th>
              <th md-column md-order-by="nameToLower"><span>Nom</span></th>
              <th md-column md-order-by="emailToLower"><span>Email</span></th>
              <th md-column md-order-by="role">Role</th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row ng-repeat="user in users.docs">
              <td md-cell class="tools-cell">
                <div ng-if="getCurrentUser()._id !== user._id">
                  <a ng-click="editUser($event, user)">Modifier</a>
                  <a ng-click="deleteUser(user)">Supprimer</a>
                </div>
              </td>
              <td md-cell>{{user.name}}</td>
              <td md-cell>{{user.email}}</td>
              <td md-cell>{{translateRole(user.role)}}</td>
            </tr>
          </tbody>
        </table>
      </md-table-container>
      <md-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{users.total}}" md-on-paginate="onPaginate" md-label="{page: 'Page', rowsPerPage: 'Lignes par page', of: 'sur'}"
        md-limit-options="[10, 25, 50, 100]" md-page-select></md-table-pagination>
    </div>
  </md-card-content>
</md-card>