<md-dialog ng-cloak class="tubes-dialog">
    <form name="form">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 ng-if="action === 'add'">Ajouter des tubes</h2>
                <h2 ng-if="action === 'edit'">Modifier tubes</h2>
                <h2 ng-if="action === 'remove'">Retirer des tubes</h2>
            </div>
        </md-toolbar>
        <md-dialog-content ng-if="action !== 'remove'" layout="row" class="md-dialog-content">
            <md-input-container class="md-block">
                <label>Nombre de tubes</label>
                <input type="number" ng-model="tube.number" name="number" required min="1" step="1" md-select-on-focus>
                <div ng-messages="form.number.$error">
                    <div ng-message="required">Ce champ est obligatoire</div>
                    <div ng-message="min">Vous devez ajouter au moins 1 tube</div>
                    <div ng-message="integer">La valeur n'est pas valide</div>
                    <div ng-message="number">La valeur n'est pas valide</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block">
                <label>Volume</label>
                <input type="number" ng-model="tube.volume" name="volume" required min="0" md-select-on-focus>
                <div ng-messages="form.volume.$error">
                    <div ng-message="required">Ce champ est obligatoire</div>
                    <div ng-message="min">Vous devez entrer une valeur positive</div>
                    <div ng-message="number">La valeur n'est pas valide</div>
                </div>
            </md-input-container>
            <md-input-container>
                <label>Unité</label>
                <md-select ng-model="tube.unit" required name="unit">
                    <md-option value="µL">µL</md-option>
                    <md-option value="mL">mL</md-option>
                </md-select>
                <div ng-messages="form.unit.$error">
                    <div ng-message="required">Ce champ est obligatoire</div>
                </div>
            </md-input-container>
        </md-dialog-content>
        <md-dialog-content ng-if="action === 'remove'" class="md-dialog-content">
            <span>Combien de tubes voulez-vous en retirer?</span>
            <md-input-container class="md-block">
                <input aria-label="Nombre de tubes à retirer" type="number" integer ng-model="tube.toRemove" name="toRemove" required max="{{tube.number}}" min="1" step="1" md-select-on-focus>
                <div ng-messages="form.toRemove.$error">
                    <div ng-message="required">Ce champ est obligatoire</div>
                    <div ng-message="max">Vous ne pouvez pas retirer plus de {{tube.number}} tubes</div>
                    <div ng-message="min">Vous devez retirer au moins 1 tube</div>
                    <div ng-message="number">La valeur n'est pas valide</div>
                    <div ng-message="integer">La valeur n'est pas valide</div>
                </div>
            </md-input-container>
        </md-dialog-content>
        <md-dialog-actions layout="row" layout-align="end center">
            <md-button ng-click="cancel()">Annuler</md-button>
            <md-button type="submit" ng-click="save()" class="md-accent md-hue-3">Enregistrer</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>