<md-dialog ng-cloak class="user-dialog">
    <form name="form">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 ng-if="action === 'add'">Ajouter un utilisateur</h2>
                <h2 ng-if="action === 'edit'">Modifier l'utilisateur</h2>
            </div>
        </md-toolbar>
        <md-dialog-content layout="column" class="md-dialog-content">
            <md-input-container class="md-block">
                <label>Nom</label>
                <input ng-model="user.name" name="name" required>
                <div ng-messages="form.name.$error">
                    <div ng-message="required">Ce champ est obligatoire</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block">
                <label>Email</label>
                <input type="email" ng-model="user.email" name="email" required>
                <div ng-messages="form.email.$error">
                    <div ng-message="required">Ce champ est obligatoire</div>
                    <div ng-message="email">Adresse e-mail non valide</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block" ng-if="!isMe && !user.isNew">
                <label>Nouveau mot de passe</label>
                <input type="text" ng-model="user.password" name="password">
                <div ng-messages="form.password.$error">
                    <div ng-message="required">Ce champ est obligatoire</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block" ng-if="user.isNew">
                <label>Mot de passe</label>
                <input type="text" ng-model="user.password" name="password" required>
                <div ng-messages="form.password.$error">
                    <div ng-message="required">Ce champ est obligatoire</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block" ng-if="!isMe">
                <label>Role</label>
                <md-select ng-model="user.role" name="role">
                    <md-option value="guest">Invité</md-option>
                    <md-option value="user">Utilisateur</md-option>
                    <md-option value="admin">Administrateur</md-option>
                </md-select>
            </md-input-container>
        </md-dialog-content>
        <md-dialog-actions layout="row" layout-align="end center">
            <md-button ng-click="cancel()">Annuler</md-button>
            <md-button type="submit" ng-click="save()" class="md-accent md-hue-3">Enregistrer</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>