<div ng-include="'components/navbar/navbar.html'"></div>
<form name="form" layout="row" layout-align="center start">
    <md-card flex=50>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Chargement des données</span>
                <span class="md-subhead">Choissisez le fichier Excel avec les données à enregistrer</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <div ng-show="!file" ng-model="file" ngf-pattern="'.xlsx'" ngf-keep="false" layout="row" layout-align="start center" class="upload-button"
                ngf-select name="file">
                <i class="material-icons">insert_drive_file</i>
                <span>Choissisez un fichier</span>
            </div>
            <div ng-show="file" layout="row" layout-align="start center" class="upload-button selected-file">
                <i class="material-icons">insert_drive_file</i>
                <span>{{file.name}}</span>
                <span flex></span>
                <i class="material-icons" ng-click="clear()">delete</i>
            </div>
            <br>
            <div ng-messages="form.file.$error">
                <div ng-message="pattern">Seulement les fichier Excel(.xlsx) sont acceptés</div>
            </div>
            <div layout="column" ng-show="!uploading && ok">
                <span>{{nbProteins}} protéines enrégistrées</span>
                <span>{{nbBoxes}} boites enrégistrées</span>
            </div>
        </md-card-content>
        <md-card-actions>
            <md-button ng-show="!uploading" type="submit" ng-click="upload()" ng-disabled="!file" class="md-primary md-raised md-hue-3">OK</md-button>
        </md-card-actions>
    </md-card>
</form>