.boxes-container {
    table.box-table {
        border-spacing: 0;
        border-collapse: collapse;
        tr {
            &:first-child {
                td {
                    height: 20px !important;
                }
            }
        }
        td {
            width: 50px;
            max-width: 50px;
            height: 50px;
            
            padding: 0;
            
            border-bottom: 1px solid black;
            border-right: 1px solid black;
            
            text-align: center;
            
            &:first-child {
                border-left: 0;
                width: 20px;
            }
            
            div {
                width: 100%;
                height: 100%;
                
                &.current {
                    background: #FF8A65;
                }
                
                &.other {
                    background: #CFD8DC;
                }
                
                &.current.selected {
                    background: #FF5722;
                }
                
                &.removed {
                    background: #444444 !important;
                }
            }
            
            span {
                margin: auto;
            }
        }
    }
    .warn-message {
        font-family: 'Roboto', sans-serif;
        font-style: italic;
        margin-top: 20px;
        padding: 0 20px 0 20px ;
    }
    
    .box-header {
        width: 100%;
        min-height: 57px;
        
        .header-row {
            min-height: 18px;
        }
    }
    
    md-divider {
        width: 100%;
        margin-top: 5px;
        margin-bottom: 15px;
    }
    
    .box-list-container {
        max-width: 100%;
        overflow: auto;
    }
}

md-tooltip {
    height: auto; 
    
    ._md-content {
        height: auto;
        
        div {
            height: auto;
        }
        
    }
    
}
