<md-card class="boxes-container" ng-show="boxLoaded">
    <md-card-content layout="column" layout-align="center center" ng-show="protein.box || justFinished">
        <div layout="column" flex class="box-header header">
            <div layout="row" layout-align="center center" class="header-row">
                <div layout="row" layout-align="center center">
                    <span class="medium-color">Boîte:&nbsp;</span>
                    <span class="dark-color">{{box.name}}</span>
                </div>
            </div>
            <md-divider flex class="very-light-color"></md-divider>
            <div flex layout="row" layout-align="center center" class="header-row">
                <div flex=50 layout="row" layout-align="center center">
                    <span class="medium-color">Stockage:&nbsp;</span>
                    <span class="dark-color">{{box.temperature}} °C</span>
                </div>
                <div flex=50 layout="row" layout-align="center center">
                    <span class="medium-color">Tiroir:&nbsp;</span>
                    <span class="dark-color">{{box.drawer}}</span>
                </div>
            </div>
        </div>
        <md-divider flex></md-divider>
        <table class="box-table">
            <tr ng-repeat="line in tubesMatrix">
                <td ng-repeat="tube in line" ng-mouseenter="setHighlight(tube, true)" ng-mouseleave="setHighlight(tube, false)">
                    <md-tooltip ng-show="tube.lot === protein.lot && tube.protein === protein.name" md-direction="top">
                        <div layout="column" layout-align="center center">
                            <span>
                                Protein {{tube.protein}}
                            </span>
                            <span>
                                Lot {{tube.lot}}
                            </span>
                            <span>
                                {{tube.volume}} {{tube.unit}}
                            </span>
                        </div>
                    </md-tooltip>
                    <div ng-class="{
                        'current': tube.lot === protein.lot && tube.protein === protein.name,
                        'other': tube.lot && (tube.lot !== protein.lot || tube.protein !== protein.name),
                        'selected': currentHovering && tube.volume === currentHovering.volume && tube.unit === currentHovering.unit,
                        'removed': tube.removed
                        }" layout-align="center center" layout="row">
                        <span class="medium-color">{{tube.header}}</span>
                    </div>
                </td>
            </tr>
        </table>
        <div class="box-list-container" layout="row" ng-show="boxList.length > 1">
            <md-button ng-class="{'md-primary': $index === currentBoxIndex}" class="md-raised" ng-repeat="box in boxList" ng-click="selectBox($index)">
                {{box.name}}
            </md-button>
        </div>
        <md-button ng-click="computeTubesPositions()" ng-show="protein.editMode" class="md-raised md-accent md-hue-1 standard-size">
            Calculer les positions des tubes
        </md-button>
    </md-card-content>
    <md-card-content layout="column" layout-align="center center" ng-show="!protein.box && !justFinished">
        <md-button ng-click="computeTubesPositions()" ng-disabled="!protein.tubes.length || !protein.project || protein.temperature === undefined"
            class="md-raised md-accent md-hue-1 standard-size">Calculer les positions des tubes</md-button>
        <span class="warn-message light-color">Note: une fois les positions calculées, vous ne pourrez plus modifier les tubes de la protéine</span>
    </md-card-content>
</md-card>