@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic);

/*
 * Constants
 */
$dark-grey-color: rgba(0, 0, 0, 0.87);
$light-grey-color: rgba(0, 0, 0, 0.54);
$medium-grey-color: rgba(0, 0, 0, 0.7);

    
/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

md-input-container .md-input:disabled {
    color: $dark-grey-color;
}

.ng-scope {
    min-height: 100%;
}

button.standard-size {
    height: 36px;
}

.light-color {
    color: $light-grey-color;
}

.dark-color {
    color: $dark-grey-color;
}

.medium-color {
    color: $medium-grey-color;
}

.very-light-color {
    color: rgba(0, 0, 0, 0.05);
    border-color: rgba(0, 0, 0, 0.05);
}

.header {
    font-size: 15px;
}

.navbar-container {
    height: 64px;
}

.full-height {
    height: 100%;
}

// Component styles are injected through grunt
// injector
@import 'boxes/boxes.scss';
@import 'login/login.scss';
@import 'main/main.scss';
@import 'protein/box/box.scss';
@import 'protein/files/files.scss';
@import 'protein/history/history.scss';
@import 'protein/tubes/tubes.scss';
@import 'users/users.scss';
@import 'dialogs/files/dialog.scss';
@import 'dialogs/password/dialog.scss';
@import 'dialogs/protein-tube/dialog.scss';
@import 'dialogs/user/dialog.scss';
@import 'navbar/navbar.scss';
// endinjector