.navbar {
    .logo {
        margin-right: 20px;
        height: 80%;
        cursor: pointer;
        border-radius: 10px;
    }
    h2 {
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
    }
    .action-icon {
        margin-right: 15px;
        margin-left: 5px;
        cursor: pointer;
    }
}

md-menu-content {
    max-height: initial;
}
