<md-content ng-controller="NavbarCtrl" class="navbar main-toolbar">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <img class="logo" src="assets/images/logo.png" ui-sref="main" />
            <div layout="row" layout-align="start center" ng-if="page === 'home'">
                <h2>Proteins</h2>
            </div>
            <div layout="row" flex layout-align="start center" ng-if="page === 'boxes'">
                <i class="material-icons action-icon" ui-sref="main">arrow_back</i>
                <h2>Toutes les boîtes</h2>
                <span flex></span>
                <div>
                    <md-button ng-click="print()" class="md-accent md-raised md-hue-3">Imprimer</md-button>
                </div>
            </div>
            <div layout="row" flex layout-align="start center" ng-if="page === 'users'">
                <i class="material-icons action-icon" ui-sref="main">arrow_back</i>
                <h2>Gestion des utilisateurs</h2>
            </div>
            <div layout="row" flex layout-align="start center" ng-if="page === 'protein'">
                <i class="material-icons action-icon" ui-sref="main">arrow_back</i>
                <h2 ng-show="mode === 'edit'">Détails</h2>
                <h2 ng-show="mode === 'new'">Nouvelle protéine</h2>
                <h2 ng-show="protein.modified">&nbsp;*</h2>
                <span flex></span>
                <div ng-if="hasRole('user') && (!protein.finishedDate || protein.keepBox)">
                    <md-button ng-disabled="!protein.modified" ng-click="broadcast('actionSave')" class="md-accent md-raised">Enregistrer</md-button>
                </div>
            </div>
            <md-menu layout="row" layout-align="center center" md-position-mode="target-right target">
                <md-button md-menu-origin ng-click="$mdOpenMenu($event)">
                    <div layout="row" layout-align="center center">
                        {{currentUser.name || currentUser.email}}
                        <i class="material-icons">keyboard_arrow_down</i>
                    </div>
                </md-button>
                <md-menu-content>
                    <md-menu-item ng-if="hasRole('user') && protein.box && page === 'protein'">
                        <md-button ng-click="broadcast('actionEdit')">
                            Rajouter des tubes
                        </md-button>
                    </md-menu-item>
                    <md-menu-item ng-if="hasRole('admin') && page === 'protein'">
                        <md-button ng-click="broadcast('actionDelete')">
                            Supprimer la protéine
                        </md-button>
                    </md-menu-item>
                    <md-menu-item ng-if="hasRole('admin')">
                        <md-button ui-sref="boxes">
                            Voir toutes les boîtes
                        </md-button>
                    </md-menu-item>
                    <md-menu-item ng-if="hasRole('admin')">
                        <md-button ui-sref="users">
                            Gerer les utilisateurs
                        </md-button>
                    </md-menu-item>
                    <md-menu-item ng-if="hasRole('guest')">
                        <md-button ng-click="showUserDialog($event)">
                            Modifier mes informations personnelles
                        </md-button>
                    </md-menu-item>
                    <md-menu-item ng-if="hasRole('guest')">
                        <md-button ng-click="showPasswordDialog($event)">
                            Changer mon mot de passe
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="logout()">
                            Déconnexion
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
    </md-toolbar>
</md-content>