<div ng-include="'components/navbar/navbar.html'"></div>

<div>
    <md-card>
        <md-card-content layout="column">
            <div layout="row" flex class="main-search-bar md-primary">
                <md-input-container class="no-error-input small md-primary" flex="40">
                    <label>Recherche</label>
                    <input ng-model="query.filter" ng-model-options="filter.options" />
                </md-input-container>
                <div flex></div>
                <md-button ng-if="hasRole('user')" class="md-raised md-primary standard-size" ng-click="addItem($event)">Nouvelle proteine</md-button>
            </div>
            <div class="main-table">
                <md-table-container>
                    <table md-table md-progress="promise">
                        <thead md-head md-order="query.order" md-on-reorder="onReorder">
                            <tr md-row>
                                <th md-column></th>
                                <th md-column md-order-by="projectToLower"><span>Projet</span></th>
                                <th md-column md-order-by="nameToLower"><span>Nom</span></th>
                                <th md-column>Lot</th>
                                <th md-column>Nom trivial</th>
                                <th md-column md-numeric>Volume restant</th>
                                <th md-column>Boite</th>
                            </tr>
                        </thead>
                        <tbody md-body>
                            <tr md-row ng-repeat="protein in proteins.docs">
                                <td md-cell class="tools-cell">
                                    <a ng-click="openProtein(protein._id)">Ouvrir</a>
                                </td>
                                <td md-cell ng-class="{'finished': protein.finishedDate}">{{protein.project}}</td>
                                <td md-cell ng-class="{'finished': protein.finishedDate}">{{protein.name}}</td>
                                <td md-cell ng-class="{'finished': protein.finishedDate}">{{protein.lot}}</td>
                                <td md-cell>{{protein.fullname}}</td>
                                <td md-cell>{{protein.currentVolume}} mL</td>
                                <td md-cell>{{protein.box}}</td>
                            </tr>
                        </tbody>
                    </table>
                </md-table-container>

                <md-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{proteins.total}}" md-on-paginate="onPaginate"
                    md-label="{page: 'Page', rowsPerPage: 'Lignes par page', of: 'sur'}" md-limit-options="[10, 25, 50, 100]"
                    md-page-select></md-table-pagination>

            </div>
        </md-card-content>
    </md-card>
</div>