.main-search-bar {
    min-height: 55px !important;
    
    md-input-container {
        min-width: 300px;
        max-width: 600px;
        &.no-error-input {
            .md-errors-spacer {
                display: none;
            }
        }
        &.small {
            margin-bottom: 0px;
        }
    }
    button {
        margin-top: 12px;
    }
}

div.main-table {
    margin-top: 18px;
    
    td.tools-cell {
        width: 50px;
        
        a {
            cursor: pointer;
        }
    }
    
    .finished {
        text-decoration: line-through;
    }
}
