<md-card>
    <md-card-content>
        <div layout="row">
            <md-input-container class="md-block" flex="70">
                <label>Projet</label>
                <input ng-required="!protein.box" ng-disabled="protein.box || !hasRole('user') || protein.finishedDate" name="project" ng-model="protein.project"
                />
                <div ng-messages="proteinForm.project.$error">
                    <div ng-message="required">Ce champ est obligatoire.</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block" flex="30">
                <label>Date de création</label>
                <input disabled ng-model="protein.formattedCreationDate" ng-model-options="{getterSetter: true}" />
            </md-input-container>
        </div>
        <div layout="row">
            <md-input-container class="md-block" flex="50">
                <label>Protéine</label>
                <input ng-required="!protein.box" ng-disabled="protein.box || !hasRole('user') || protein.finishedDate" name="name" ng-model="protein.name"
                />
                <div ng-messages="proteinForm.name.$error">
                    <div ng-message="required">Ce champ est obligatoire.</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block" flex="50">
                <label>Numéro de lot</label>
                <input ng-required="!protein.box" ng-disabled="protein.box || !hasRole('user') || protein.finishedDate" name="lot" ng-model="protein.lot" />
                <div ng-messages="proteinForm.lot.$error">
                    <div ng-message="required">Ce champ est obligatoire.</div>
                </div>
            </md-input-container>
        </div>
        <div layout="row">
            <md-input-container class="md-block" flex="70">
                <label>Nom trivial</label>
                <input ng-disabled="!hasRole('user') || protein.finishedDate" name="fullName" ng-model="protein.fullname" />
            </md-input-container>
        </div>
        <div layout="row">
            <md-input-container class="md-block" flex>
                <label>Concentration (mg/mL)</label>
                <input ng-required="!protein.box" type="number" ng-disabled="protein.box || !hasRole('user') || protein.finishedDate" name="concentration"
                    ng-model="protein.concentration" min="0" />
                <div ng-messages="proteinForm.concentration.$error">
                    <div ng-message="required">Ce champ est obligatoire.</div>
                    <div ng-message="min">Vous devez entrer une valeur positive</div>
                    <div ng-message="number">La valeur n'est pas valide</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block" flex>
                <label>Température de stockage (°C)</label>
                <input ng-required="!protein.box" type="number" ng-disabled="protein.box || !hasRole('user') || protein.finishedDate" name="temperature" ng-model="protein.temperature"
                />
                <div ng-messages="proteinForm.temperature.$error">
                    <div ng-message="required">Ce champ est obligatoire.</div>
                </div>
            </md-input-container>
        </div>
        <md-input-container class="md-block" ng-if="protein.finishedDate">
            <label>Fini le</label>
            <input disabled ng-model="protein.formattedFinishedDate" ng-model-options="{getterSetter: true}" />
        </md-input-container>
        <md-input-container class="md-block" flex>
            <label>Commentaires</label>
            <textarea ng-disabled="!hasRole('user') || protein.finishedDate" ng-model="protein.comments" rows="5" md-detect-hidden ng-trim="false"></textarea>
        </md-input-container>
    </md-card-content>
</md-card>