<md-progress-linear class="md-accent" md-mode="indeterminate" ng-hide="loaded"></md-progress-linear>
<div class="navbar-container">
    <div ng-include="'components/navbar/navbar.html'" ng-init="initNavBar()"></div>
</div>
<form ng-show="loaded" name="proteinForm" layout="row" flex>
    <div layout="column" flex>
        <div ui-view="details"></div>
        <div ui-view="files" ng-if="!protein.finishedDate || protein.keepBox"></div>
        <div ui-view="history" ng-if="!protein.finishedDate || protein.keepBox"></div>
    </div>
    <div layout="column" flex>
        <div ui-view="tubes"></div>
        <div ui-view="files" ng-if="protein.finishedDate && !protein.keepBox"></div>
        <div ui-view="history" ng-if="protein.finishedDate && !protein.keepBox"></div>
        <div ui-view="box" ng-if="!protein.finishedDate || protein.keepBox"></div>
    </div>
</form>