<div ng-include="'components/navbar/navbar.html'"></div>
<md-progress-linear class="md-accent" md-mode="indeterminate" ng-hide="loaded"></md-progress-linear>
<md-content layout="row" layout-align="start center" class="all-boxes-container" flex ng-show="loaded && boxes.length">
    <div layout="column" class="box-header" layout-align="center space-between" flex>
        <div flex layout="row">
            <span flex layout="row" layout-align="start center">Projet:</span>
            <span flex layout="row" layout-align="start center">{{box.project}}</span>
        </div>
        <div flex layout="row">
            <span flex layout="row" layout-align="start center">Boite:</span>
            <span flex layout="row" layout-align="start center">{{box.name}}</span>
        </div>
        <div flex layout="row">
            <span flex layout="row" layout-align="start center">Tiroir:</span>
            <span flex layout="row" layout-align="start center">{{box.drawer}}</span>
        </div>
        <div flex layout="row">
            <span flex layout="row" layout-align="start center">Stockage:</span>
            <span flex layout="row" layout-align="start center">{{box.temperature}} °C</span>
        </div>
    </div>
    <div layout="column" layout-align="center center" class="box-container" flex>
        <table class="box-table">
            <tr ng-repeat="line in box.tubesMatrix">
                <td ng-repeat="tube in line" ng-mouseenter="setHighlight(tube, true)" ng-mouseleave="setHighlight(tube, false)">
                    <div ng-if="tube.header" layout-align="center center" layout="row">
                        <span>{{tube.header}}</span>
                    </div>
                    <div ng-if="tube.lot" layout-align="center center" layout="column">
                        <span>{{tube.protein}}</span>
                        <span>{{tube.lot}}</span>
                        <span>{{tube.concentration}} - {{tube.volume}} {{tube.unit}}</span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div flex=5></div>
    <div class="box-list-container" layout="column">
        <md-button ng-class="{'md-primary': $index === selectedIndex}" class="md-raised" ng-repeat="box in boxes" ng-click="selectBox($index)">
            {{box.name}}
        </md-button>
    </div>
</md-content>

<md-content layout="column" class="print-all-boxes-container" ng-show="loaded">
    <section ng-repeat="box in boxes">
        <div layout="column" layout-align="center center" flex>
            <div class="header" layout="row" flex>
                <div flex=40 layout="row" layout-align="center center"><img class="logo" src="assets/images/logo.png" /></div>
                <div layout="column" class="box-header" layout-align="center space-between" flex>
                    <div flex layout="row">
                        <span flex layout="row" layout-align="start center">Projet:</span>
                        <span flex layout="row" layout-align="start center">{{box.project}}</span>
                    </div>
                    <div flex layout="row">
                        <span flex layout="row" layout-align="start center">Boite:</span>
                        <span flex layout="row" layout-align="start center">{{box.name}}</span>
                    </div>
                    <div flex layout="row">
                        <span flex layout="row" layout-align="start center">Tiroir:</span>
                        <span flex layout="row" layout-align="start center">{{box.drawer}}</span>
                    </div>
                    <div flex layout="row">
                        <span flex layout="row" layout-align="start center">Congélateur:</span>
                        <span flex layout="row" layout-align="start center">{{box.temperature}} °C</span>
                    </div>
                </div>
            </div>
            <div layout="column" layout-align="center center" class="box-container" flex>
                <table class="box-table">
                    <tr ng-repeat="line in box.tubesMatrix">
                        <td ng-repeat="tube in line" ng-mouseenter="setHighlight(tube, true)" ng-mouseleave="setHighlight(tube, false)">
                            <div ng-show="tube.header" layout-align="center center" layout="row">
                                <span>{{tube.header}}</span>
                            </div>
                            <div ng-if="tube.lot" layout-align="center center" layout="column" flex>
                                <span>{{tube.protein}}</span>
                                <span>{{tube.lot}}</span>
                                <span>{{tube.concentration}} - {{tube.volume}} {{tube.unit}}</span>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </section>
</md-content>