.all-boxes-container, .print-all-boxes-container {
    table.box-table {
        table-layout: fixed;
        
        border-spacing: 0;
        border-collapse: collapse;
        tr {
            &:first-child {
                td {
                    height: 20px !important;
                }
            }
        }
        td {
            width: 75px;
            height: 75px;
            max-width: 75px;
            min-width: 75px;
            
            padding: 0;
            
            font-size: 10px;
            
            border-bottom: 1px solid black;
            border-left: 1px solid black;
            border-right: 1px solid black;
            
            text-align: center;
            
            &:first-child {
                border-left: 0;
                max-width: 20px;
                width: 20px;
            }
            
            div {
                width: 100%;
                height: 100%;
            }
            
            span {
                margin: auto;
            }
        }
    }
}

.all-boxes-container {
   
    .box-header {
        width: 250px;
        min-width: 200px;
        max-width: 250px;
        padding-left: 40px;
        min-height: 200px;
        font-size: 14px;
        
        span:nth-child(2) {
            padding-left: 30px;
        }
    }
    
    .box-container {
        padding-top: 40px;
    }
    
    .box-list-container {
        width: 180px;
        margin-right: 20px;
        padding: 0 10px 0 10px;
        height: 550px;
        overflow-y: auto;
        
        button {
            min-height: 36px;
        }
    }
}

.print-all-boxes-container {
    display: none;
    
    & > section {
        page-break-after: always;
        margin-top: 30px;
    }
    
    .header {
        
        width: 80%;
        & > div {
            border: 1px solid black;
        }
        
        .box-header {
            & > div {
                padding-left: 15px;
            }
        }
    }
}

@media print {      
    .main-container {
        display: block;
    }
      
    .print-all-boxes-container {
        display: block;
        table.box-table {
            margin-top: 40px;
        }
    }
    
    .all-boxes-container {
        display: none;
    }
    
    .navbar {
        display: none;
    }
}