<md-card ng-show="protein.history.length && !protein.isNew">
    <md-card-content class="history-container">
        <md-table-container>
            <table md-table>
                <thead md-head>
                    <tr md-row>
                        <th md-column><span>Date</span></th>
                        <th md-column><span>Auteur</span></th>
                        <th md-column><span>Action</span></th>
                    </tr>
                </thead>
                <tbody md-body>
                    <tr md-row ng-repeat="item in protein.history">
                        <td md-cell>
                            {{formatDate(item.date)}}
                        </td>
                        <td md-cell >
                            {{item.author}}
                        </td>
                        <td md-cell>
                            {{formatMessage(item.message)}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </md-table-container>
    </md-card-content>
</md-card>