<md-card>
    <md-card-content>
        <div layout="row" class="headers-container">
            <div layout="column" flex class="header">
                <div layout="row">
                    <div flex="{{protein.box && !protein.finishedDate ? 45 : ''}}" layout="row">
                        <span flex=70 class="medium-color">Volume initial total:</span>
                        <span flex=30 class="dark-color" ng-show="protein.initialVolume === '-1,00' || protein.initialVolume === null">?</span>
                        <span flex=30 class="dark-color" ng-show="protein.initialVolume !== '-1,00' && protein.initialVolume !== null">{{protein.initialVolume}} mL</span>
                    </div>
                    <div flex=10 ng-if="protein.box && !protein.finishedDate"></div>
                    <div flex=45 ng-if="protein.box && !protein.finishedDate" layout="row">
                        <span flex=70 class="medium-color">Volume actuel total:</span>
                        <span flex=30 class="dark-color" ng-show="protein.currentVolume === '-1,00'">?</span>
                        <span flex=30 class="dark-color" ng-show="protein.currentVolume !== '-1,00'">{{protein.currentVolume}} mL</span>
                    </div>
                </div>
                <div layout="row">
                    <div flex="{{protein.box && !protein.finishedDate ? 45 : ''}}" layout="row">
                        <span flex=70 class="medium-color">Quantité initiale totale:</span>
                        <span flex=30 class="dark-color" ng-show="protein.initialQuantity === '-1,00' || protein.initialQuantity === null">?</span>
                        <span flex=30 class="dark-color" ng-show="protein.initialQuantity !== '-1,00' && protein.initialQuantity !== null">{{protein.initialQuantity}} mg</span>
                    </div>
                    <div flex=10 ng-if="protein.box && !protein.finishedDate"></div>
                    <div flex=45 ng-if="protein.box && !protein.finishedDate" layout="row">
                        <span flex=70 class="medium-color">Quantité actuelle totale:</span>
                        <span flex=30 class="dark-color" ng-show="protein.currentQuantity === '-1,00'">?</span>
                        <span flex=30 class="dark-color" ng-show="protein.currentQuantity !== '-1,00'">{{protein.currentQuantity}} mg</span>
                    </div>
                </div>
                <div layout="row">
                    <div flex="{{protein.box && !protein.finishedDate ? 45 : ''}}" layout="row">
                        <span flex=70 class="medium-color">Nombre total initial de tubes:</span>
                        <span flex=30 class="dark-color" ng-show="protein.initialTubesNb === '-1,00' || protein.initialTubesNb === null">?</span>
                        <span flex=30 class="dark-color" ng-show="protein.initialTubesNb !== '-1,00' && protein.initialTubesNb !== null">{{protein.initialTubesNb}}</span>
                    </div>
                    <div flex=10 ng-if="protein.box && !protein.finishedDate"></div>
                    <div flex=45 ng-if="protein.box && !protein.finishedDate" layout="row">
                        <span flex=70 class="medium-color">Nombre total de tubes:</span>
                        <span flex=30 class="dark-color" ng-show="protein.currentTubesNb === '-1,00'">?</span>
                        <span flex=30 class="dark-color" ng-show="protein.currentTubesNb !== '-1,00'">{{protein.currentTubesNb}}</span>
                    </div>
                </div>
            </div>
            <div ng-if="(!protein.box || protein.editMode) && hasRole('user') && !protein.finishedDate" flex=40 layout-align="end start" layout="row">
                <md-button class="md-primary md-raised standard-size" ng-click="addTube($event)">Ajouter un tube</md-button>
            </div>
        </div>
        <md-table-container ng-if="!protein.finishedDate && protein.tubes.length">
            <table md-table>
                <thead md-head>
                    <tr md-row>
                        <th md-column></th>
                        <th md-column><span>Nombre de tubes</span></th>
                        <th md-column><span>Volume</span></th>
                    </tr>
                </thead>
                <tbody md-body class="tubes-table">
                    <tr md-row ng-repeat="tube in protein.tubes" ng-class="{'selected': tube.$selected}" ng-mouseenter="setSelected(tube, true)" ng-mouseleave="setSelected(tube, false)">
                        <td md-cell class="tools-cell">
                            <a ng-if="!tube.placed && hasRole('user')" ng-click="modifyTube($event, tube)">Modifier</a>
                            <a ng-if="!tube.placed && hasRole('user')" ng-click="deleteTube($event, $index)">Supprimer</a>
                            <a ng-if="tube.placed && hasRole('admin')" ng-click="removeTubes($event, tube, $index)">Retirer</a>
                        </td>
                        <td md-cell >
                            {{tube.number}}
                        </td>
                        <td md-cell>
                            {{tube.volume}} {{tube.unit}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </md-table-container>
    </md-card-content>
</md-card>