<md-dialog ng-cloak class="files-dialog">
    <form name="form">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Télécharger un fichier</h2>
            </div>
        </md-toolbar>
        <md-dialog-content layout="column" class="md-dialog-content">
            <md-input-container>
                <label>Type de document</label>
                <md-select ng-model="fileType" required>
                    <md-option ng-repeat="type in fileTypes" value="{{type}}">{{type}}</md-option>
                </md-select>
            </md-input-container>
            <md-input-container ng-show="fileType === 'Autre'" class="md-block">
                <label>Nom du document</label>
                <input ng-model="otherName" name="otherName" ng-required="fileType === 'Autre'">
                <div ng-messages="form.otherName.$error">
                    <div ng-message="required">Ce champ est obligatoire</div>
                </div>
            </md-input-container>
            <div ng-show="!file" ng-model="file" ngf-keep="false" layout="row" layout-align="start center" class="upload-button" ngf-select>
                <i class="material-icons">insert_drive_file</i>
                <span>Choissisez un fichier</span>
            </div>
            <div ng-show="file" layout="row" layout-align="start center" class="upload-button selected-file">
                <i class="material-icons">insert_drive_file</i>
                <span>{{file.name}}</span>
                <span flex></span>
                <i class="material-icons" ng-click="clear()">delete</i>
            </div>
            <md-divider></md-divider>
        </md-dialog-content>
        <md-dialog-actions layout="row" layout-align="end center">
            <md-button ng-click="cancel()">Annuler</md-button>
            <md-button ng-show="!uploading" type="submit" ng-click="upload()" ng-disabled="!file" class="md-accent md-hue-3">OK</md-button>
            <md-progress-circular ng-show="uploading" md-mode="determinate" value="{{progress}}"></md-progress-circular>
        </md-dialog-actions>
    </form>
</md-dialog>