.files-dialog {
    min-width: 450px;
    
    .upload-button {
        margin: 10px 0 5px 0;
        cursor: pointer;
        
        i {
            color: rgba(0, 0, 0, 0.5);
        }
        
        &.selected-file {
            span {
                color: $dark-grey-color;
            }
        }
        
        span {
            margin-left: 5px;
            color: rgba(0, 0, 0, 0.38);
        }
    }
}