<md-dialog ng-cloak class="user-dialog">
    <form name="form">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Changer le mot de passe</h2>
            </div>
        </md-toolbar>
        <md-dialog-content layout="column" class="md-dialog-content">
            <md-input-container class="md-block">
                <label>Mot de passe actuel</label>
                <input ng-model="password.current" name="currentPassword" required>
                <div ng-messages="form.currentPassword.$error">
                    <div ng-message="required">Ce champ est obligatoire</div>
                    <div ng-message="wrong">Le mot de passe est incorrect</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block">
                <label>Nouveau mot de passe</label>
                <input ng-model="password.new" name="newPassword" required>
                <div ng-messages="form.newPassword.$error">
                    <div ng-message="required">Ce champ est obligatoire</div>
                    <div ng-message="match">Les mots de passe sont différents</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block">
                <label>Confirmez le nouveau mot de passe</label>
                <input ng-model="password.confirm" name="confirmPassword" required>
                <div ng-messages="form.confirmPassword.$error">
                    <div ng-message="required">Ce champ est obligatoire</div>
                    <div ng-message="match">Les mots de passe sont différents</div>
                </div>
            </md-input-container>
        </md-dialog-content>
        <md-dialog-actions layout="row" layout-align="end center">
            <md-button ng-click="cancel()">Annuler</md-button>
            <md-button type="submit" ng-click="save()" class="md-accent md-hue-3">Enregistrer</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>