.files-container {
    overflow: auto;
    padding-right: 20px;
    
    .inner-container {
        margin-right: 20px;
    }
    
    .upload-button {
        max-width: 64px;
        min-width: 56px;
        height: 48px;
    }
    
    .message {
        margin-left: 20px;
        font-family: 'Roboto';
        font-style: italic;
        color: rgba(0,0,0,0.6);
    }
    
    .file {
        margin: 0 10px 0 10px;
        max-width: 150px;
        min-width: 150px;
        .thumb {
            border: 1px solid rgba(0,0,0,0.12);
            width: 100%;
            border-top: 0;
            button {
                margin: 0;
            }
        }
        .name {
            width: 100%;
            padding: 5px;
            border: 1px solid rgba(0,0,0,0.12);
            
            .version {
                margin-top: 5px;
                font-size: 10px;
                color: rgba(0,0,0,0.75);
            }
        }
    }
}
