<md-card ng-hide="protein.isNew || (!hasRole('user') && !protein.files.length)">
    <md-card-content class="files-container">
        <div layout="row" layout-align="start stretch" class="inner-container">
            <div ng-if="protein.files.length" ng-repeat="file in protein.files" class="file" layout="column" layout-align="center center">
                <div class="name" layout-align="start center" layout="column" flex>
                    <span layout-align="center center" layout="row">
                        {{file.name}}
                    </span>
                    <span flex></span>
                    <span layout-align="center center" layout="row" class="version">
                        Version {{file.version}}
                    </span>
                </div>
                <div layout="column" class="thumb">
                    <md-button class="md-accent" ng-click="viewFile(file)">View</md-button>
                    <md-button ng-show="hasRole('user') && !protein.finishedDate" class="md-accent" ng-click="deleteFile($event, file)">Delete</md-button>
                </div>
            </div>
            <div layout-align="center center" layout="row" ng-if="!protein.finishedDate && hasRole('user')">
                <md-button class="md-raised md-accent md-hue-1 upload-button" layout="row" layout-align="center center" ng-click="uploadFile()">
                    <i class="material-icons md-48">file_upload</i>
                </md-button>
            </div>
            <div ng-if="!protein.files.length && !protein.finishedDate" layout="row" layout-align="start center">
                <span class="message">Cliquez sur le bouton pour télécharger des fichiers</span>
            </div>
            <div ng-if="!protein.files.length && protein.finishedDate" layout="row" layout-align="start center">
                <span class="message">Aucun fichier n'a été créé pour cette protéine</span>
            </div>
        </div>
    </md-card-content>
</md-card>