<div class="login-container" md-colors="{'background-color': 'primary-500'}" flex layout="column" layout-align="center center">
  <md-card class="login-card md-whiteframe-6dp">
    <md-card-content flex layout="column" layout-align="end center">
      <div class="md-whiteframe-4dp logo">
        <img src="assets/images/logo.png" />
      </div>
      <form name="loginForm" method="POST" ng-submit="login(loginForm)">
        <md-input-container class="md-block">
          <label>Identifiant</label>
          <input required name="username" ng-model="user.email" type="text" />
          <div ng-messages="loginForm.username.$error">
            <div ng-message="required">Ce champ est obligatoire.</div>
            <div ng-message="match">Identifiant ou mot de passe incorrect.</div>
          </div>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Mot de passe</label>
          <input required name="password" ng-model="user.password" type="password" />
          <div ng-messages="loginForm.password.$error">
            <div ng-message="required">Ce champ est obligatoire.</div>
            <div ng-message="match">Identifiant ou mot de passe incorrect.</div>
          </div>
        </md-input-container>
        <md-dialog-actions layout="row" layout-align="center center">
          <md-button type="submit" class="md-accent md-raised">Se connecter</md-button>
        </md-dialog-actions>
      </form>
    </md-card-content>
  </md-card>
</div>