div.login-container {
    height: 100%;
    width: 100%;
    
    .logo {
        margin-top: -150px;
        margin-bottom: 30px;
        border-radius: 10px;
        img {
            border-radius: 10px;
        }
    }
    
    .login-card {
        min-width: 300px;
        min-height: 350px;
        
        form {
            height: 100%;
            width: 100%;
            
            button {
                width: 100%;
            }
        }
    }
}
